# Виртуальное окружение
.venv/
venv/

# Игнорируем локальные настройки
.env

# Кеш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Данные пользователей и конфигурации
data/users.json

# Логи
*.log
